함수: 함수이름() - 호출
메서드: .메서드() - 호출
추후 클래스에서 자세하게 다룰 예정

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

1. `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

2. `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

3. `.upper()` : 모두 대문자로 만들어 반환합니다.

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.
# 아래는 a 값 자체를 바꾸는 것이 아니라 바뀐 값만을 보여줄 뿐..

In [ ]:
a.capitalize()

In [ ]:
a.title()

In [ ]:
a.upper()

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.

In [ ]:
a.lower()

In [ ]:
a.swapcase()

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'!'.join('배고파')

In [ ]:
a = ['hi', 'hello', '안녕']
' '.join(a)

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 개수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'yay!'.replace('a', '_')

In [ ]:
'wooooowoo'.replace('o', '', 2)

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'     oh!\n'.strip()

In [ ]:
'     oh!\n     '.lstrip()

In [ ]:
'hehehehehehehehihihihihi'.rstrip('hi')

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
# 있는지 없는지 확인

In [ ]:
'apple'.find('p')

In [ ]:
'apple'.find('b')

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.
# 인덱스 값을 반환하므로 없으면 오류 발생

In [ ]:
'apple'.index('p')

In [ ]:
'apple'.index('b')

## `split()`

문자열을 특정한 단위로 나누어 **리스트**로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'a_b_c'.split('_')

In [ ]:
inputs = input('문자열 입력: ').split()
print(inputs)

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [ ]:
'string'.isalpha()

In [ ]:
'일이삼'.isalpha()

In [ ]:
'10'.isdecimal()

In [ ]:
'5'.isdigit()

In [ ]:
'  '.isspace()

In [ ]:
'STRING'.isupper()

In [ ]:
'String'.istitle()

In [ ]:
'string'.islower()

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.

In [ ]:
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

In [ ]:
# 값을 추가해봅시다.

In [ ]:
cafe.append('droptop')

In [ ]:
print(cafe)

In [ ]:
# 어렵게 넣어보도록 해봅시다.

In [ ]:
cafe[len(cafe):] = ['ediya']

In [ ]:
print(cafe)

In [ ]:
cafe[-1] = 'paul basset'

In [ ]:
print(cafe)

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [ ]:
cafe.extend(['빽다방'])

In [ ]:
print(cafe)

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [ ]:
cafe += ['mccafe', 'burgerking']

In [ ]:
print(cafe)

In [ ]:
# append와 비교해봅시다.

In [ ]:
cafe.append(['append cafe'])
print(cafe)
print('----------')
cafe.extend(['extend cafe'])
print(cafe)

In [ ]:
print('----------')
cafe.extend('extend string')
print(cafe)

In [ ]:
# append는 입력한 것 자체를 넣어버림
# extend는 리스트의 요소를 넣어버림
# extend에 문자열을 넣어버리면 문자열의 요소인 문자 각각을 따로 넣어버리는 결과가 발생한다.

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [ ]:
cafe.insert(0, 'hi')
print(cafe)

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
cafe.insert(len(cafe), 'bye')
print(cafe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
# 오류가 발생하지는 않음

In [ ]:
cafe.insert(len(cafe)+5, '!')
print(cafe)

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.

In [ ]:
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [ ]:
numbers.remove(1)

In [ ]:
print(numbers)

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [ ]:
numbers.remove(1)

### `.pop(i)`

* 정해진 위치 `i`에 있는 값을 삭제하며, **그 항목을 반환합니다.**

* `i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [ ]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [ ]:
print(a.pop(0))

In [ ]:
print(a)

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [ ]:
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a}이/가 되었습니다.')

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [ ]:
a.index(3)

In [ ]:
# .index() 역시 .remove()와 마찬가지로 해당 값이 없으면 ValueError가 발생함!
a.index(100)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [ ]:
a.count(1)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [ ]:
a = [1, 2, 5, 1, 5, 1]

In [ ]:
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.
# 검증(T/F)

In [ ]:
print(target_value in a)

### `.sort()`

정렬을 합니다. 

`.sorted()` 와는 다르게 `.sort()`는 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [ ]:
# .sort() 를 사용해봅시다.

In [ ]:
import random
lottery = random.sample(range(1, 46), 6)
print(lottery)

In [ ]:
lottery.sort()

In [ ]:
print(lottery)
print(lottery.sort()) # lottery 객체 요소 배열 자체가 바뀌고 .sort()는 리턴값이 None

In [ ]:
lottery.sort(reverse=True)
print(lottery)

### `.reverse()`

* 반대로 뒤집습니다. (정렬 아님; 정렬은 위의 `.sort(reverse=True)`)

* 순서만 뒤집어버린다는 얘기

In [ ]:
classroom = ['Tom', 'David', 'John']

In [ ]:
classroom.reverse()

In [ ]:
print(classroom)

## 복사

**두 가지가 있음**
* 깊은 복사
* 얕은 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [ ]:
copy_list = original_list
print(copy_list)

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [ ]:
copy_list[0] = 5
print(original_list)

In [ ]:
# id 값을 확인해봅시다.

In [ ]:
# 각 리스트의 값은 똑같은 ID를 가지고 있기 때문(바라보는 대상이 같은 것!)
copy_list is original_list

In [ ]:
id(copy_list) == id(original_list)

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 각 변수가 ID값은 같지만, 바라보는 것이 달라지는 것임

In [ ]:
a = 20005
b = a
a is b
b = 30005
print(a)

In [ ]:
# 딕셔너리도 확인해봅시다.

In [ ]:
lunch = {'김천': '치즈라면', '김가네': '제육볶음'}
dinner = lunch

dinner['김천'] = '참치김밥'
print(lunch)

### copy
> pythontutor 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [ ]:
a = [1, 2, 3]
b = a[:]

b[0] = 5
print(a)

* 하지만, 이렇게 하는 것(슬라이스로 복사하는 것)도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.
# 리스트 속 리스트는 같은 것을 바라봄

In [ ]:
a = [1, 2, [1, 2]]
b = a[:]

b[2][0] = 100
print(a)

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.
# 깊은 복사가 완전히 복사를 한다는 것이므로, 서로 다른 것을 바라보게 됨
# 진정한 따로국밥

In [ ]:
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 100
print(a)

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [ ]:
numbers = list(range(1, 100))

In [ ]:
print(numbers)
numbers.clear()
print('-----')
print(numbers)

# List Comprehension

List Comprehension 은 List 안에 식, for 문을 지정합니다.

그리고 여러 줄의 코드를 한 줄로 줄일 수 있습니다.
```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
# 기존의 방법

In [ ]:
cubic_list = []
for i in range(1, 11):
    cubic_list.append(i**3)
print(cubic_list)

In [ ]:
# List Comprehension

In [ ]:
cubic_list = [x ** 3 for x in range(1, 11)]
print(cubic_list)

## List Comprehension + 조건문
```python
[식 for 변수 in iterable if 조건식]

# else가 붙는 경우 if문이 앞으로 가버림 왜냐하면 이전에서 if 앞에 iterable이 있기 때문에 적용이 안됨
[식 if 조건식 else 식 for 변수 in iterable]

# elif는 아래와 같이 사용.
[식 if 조건식 else 식 if 조건식 else 식 ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 기존의 방법

In [ ]:
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

In [ ]:
# List Comprehension

In [ ]:
even_list = [x for x in range(1, 11) if x%2==0]
print(even_list)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.
pair = []
for boy in boys:
    for girl in girls:
        pair.append((boy, girl))
print(pair)

In [ ]:
# List comprehension을 활용하여 만들어주세요.
pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```python
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
result = []
for x in range(1, 50):
    for y in range(1, 50):
        if x < y:
            for z in range(1, 50):
                if y < z and x ** 2 + y ** 2 == z ** 2:
                    result.append((x, y, z))
print(result)

In [ ]:
# lecturer's
results = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if x**2 + y**2 == z**2:
                results.append((x, y, z))
print(results)

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [ ]:
result = [(x, y, z) for x in range(1, 50) for y in range(1, 50)
          if x < y for z in range(1, 50) if y < z and x**2 + y**2 == z**2]
print(result)

In [ ]:
# lecturer's
results = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50)
          if x**2 + y**2 == z**2]
print(results)

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

```python
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [ ]:
words = 'Life is too short, you need python!'
vowels = ['a', 'e', 'i', 'o', 'u']
letter = [x for x in words if x not in vowels]
word_result = ''.join(letter)
print(word_result)

In [ ]:
# lecturer's
words = 'Life is too short, you need python!'
vowels = 'aeiou' # string도 sequence임

result = ''.join([x for x in words if x not in vowels])
print(result)

In [ ]:
# 풀어쓰기
words = 'Life is too short, you need python!'
vowels = 'aeiou' # string도 sequence임
result = []
for x in words:
    if x not in vowels:
        result.append(x)
result = ''.join(result)
print(result)

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [ ]:
my_dict.pop('apple')
print(my_dict)

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [ ]:
my_dict.pop('melon')

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

In [ ]:
my_dict.pop('melon', 0)

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [ ]:
my_dict.update(apple='사과아아아아')
print(my_dict)

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. **default는 기본적으로 None입니다.**

In [ ]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

In [ ]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('coconut', 1))

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

```python
# recommended
{키: 값 for 키, 값 in 딕셔너리}
{키: 값 for 변수 in iterable}

dict(키: 값 for 키, 값 in 딕셔너리)

# if문 들어가는 경우:
{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}
```

In [ ]:
# dictionary comprehension

In [ ]:
cubic = {x: x**3 for x in range(1, 8)}
print(cubic)

### dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [ ]:
exceed = {local: dust for local, dust in dusts.items() if dust > 80}
print(exceed)

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [ ]:
dusts_other = {local: '나쁨' if dust>80 else '보통' for local, dust in dusts.items()}
print(dusts_other)

In [ ]:
# 안 되는 경우
for local, dust in dusts.items():
    if dust > 80:
        dusts.update(local='나쁨')
    else:
        dusts.update(local='보통')
print(dusts)

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)
# 150 초과: 매우 나쁨 / 80 초과: 나쁨 / 30 초과: 보통 / 그외 좋음

In [ ]:
dust_detail = {local: '매우 나쁨' if dust>150 else '나쁨' if dust>80 else '보통' if dust>30 else '좋음'
               for local, dust in dusts.items()}
print(dust_detail)

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.add('포도')
print(a)
# set은 순서가 없어서 아무데나 들어가게 됨
a.add('포도')
print(a)
# set에서는 중복이 존재하지 않음

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [1]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [2]:
a.update({'토마토', '토마토', '딸기', '포도'}, {'복숭아', '레몬'})
# 중복이 사라지고 두 개의 세트가 하나로 통합됨
print(a)

{'사과', '바나나', '토마토', '딸기', '포도', '레몬', '복숭아', '수박'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [ ]:
a.remove('사과')
print(a)

In [ ]:
a.remove('애플')

### `.discard(elem)`
elem를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}

In [ ]:
a.discard('바나나')
print(a)

In [ ]:
a.discard('바나나')
# remove와 달리 KeyError가 발생하지 않음
print(a)

### `.pop()`

**임의의 원소**를 제거해 반환합니다.
* "임의"의 기준: 불변인 type은 hash table로 만드는데, 이 hash table에 정해진 순서가 존재함.
* set 자체는 순서가 없지만 pop을 했을 때는 순서가 존재하게 됨(뽑아낸 순서대로 hash table에 들어간 것임)
* 현재 python 실행 환경에서 set.pop()이 계속 같은 이유: 처음 만들어진 set이 같은 hash table 값으로 이루어져 있기 때문
* python 실행 환경이 바뀌어야 pop으로 나오는 인자가 바뀜.
* 파이썬 실행환경이 바뀌면 만들어지면 hash table 역시 바뀌므로!

In [ ]:
# pop을 사용해봅시다.
# 반환값이 있으므로 변수화하여 사용 가능
a = {'사과', '바나나', '수박', '아보카도'}

In [ ]:
print(a.pop())

In [ ]:
print(a)

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 `map_object` 형태로 됩니다.

In [ ]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [ ]:
# list comprehension

In [ ]:
number = ''.join([str(num) for num in numbers])
print(number)

In [ ]:
# map으로 만들기

In [ ]:
number = map(str, numbers)
print(number)
print(''.join(number))

In [ ]:
numbers = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [ ]:
# list comprehension

In [ ]:
number = [int(num) for num in numbers]
print(number)

In [ ]:
number = list(map(int, numbers))
# 여기서는 list 함수를 호출해야 함! 단순하게 괄호를 씌우는 것으로는 변환되지 않음
print(number)

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
def cube(num):
    return num ** 3

In [ ]:
result = list(map(cube, numbers))
print(result)

## `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* **결과는 튜플**의 모음으로 구성된 zip object를 반환한다.

In [3]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [4]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [5]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [6]:
# dictionary comprehension
# 아래는 이중 for 문으로 작성되어 유일값인 key 값에 따라 value는 마지막값만 남게 된다.
matching = {girl: boy for girl in girls for boy in boys}

In [7]:
matching = {girl: boy for girl, boy in zip(girls, boys)}
print(matching)

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [1]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 **길이가 같을 때 사용**해야한다. 가장 **짧은 것을 기준**으로 구성한다.

In [ ]:
num1 = [1, 2, 3]
num2 = ['1', '2']
# 짧은 것을 기준으로 처리하여 3은 버림
list(zip(num1, num2))

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 홀수인지 판단하는 함수를 작성해봅시다.

In [5]:
def odd(num):
    return num % 2

In [6]:
numbers = [1, 2, 3, 4, 5]
print(list(filter(odd, numbers)))

[1, 3, 5]

In [7]:
# 다음의 list comprehension과 동일하다.

In [8]:
numbers = [1, 2, 3, 4, 5]
filtered = [x for x in numbers if x % 2]
filtered1 = [x for x in numbers if odd(x)]
print(filtered)
print(filtered1)

[1, 3, 5]
[1, 3, 5]

# Today's keyword: dictionary, comprehension, map