함수: 함수이름() - 호출
메서드: .메서드() - 호출
추후 클래스에서 자세하게 다룰 예정

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

1. `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

2. `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

3. `.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.
# 아래는 a 값 자체를 바꾸는 것이 아니라 바뀐 값만을 보여줄 뿐..

In [2]:
a.capitalize()

"Hi! everyone, i'm kim"

In [3]:
a.title()

"Hi! Everyone, I'M Kim"

In [4]:
a.upper()

"HI! EVERYONE, I'M KIM"

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [5]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.

In [6]:
a.lower()

"hi! everyone, i'm kim"

In [7]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [ ]:
# 아래에 코드를 작성하세요.

In [8]:
'!'.join('배고파')

'배!고!파'

In [10]:
a = ['hi', 'hello', '안녕']
' '.join(a)

'hi hello 안녕'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 개수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [11]:
'yay!'.replace('a', '_')

'y_y!'

In [12]:
'wooooowoo'.replace('o', '', 2)

'wooowoo'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [13]:
'     oh!\n'.strip()

'oh!'

In [14]:
'     oh!\n     '.lstrip()

'oh!\n     '

In [15]:
'hehehehehehehehihihihihi'.rstrip('hi')

'hehehehehehehe'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
# 있는지 없는지 확인

In [16]:
'apple'.find('p')

1

In [17]:
'apple'.find('b')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.
# 인덱스 값을 반환하므로 없으면 오류 발생

In [18]:
'apple'.index('p')

1

In [19]:
'apple'.index('b')

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 **리스트**로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [20]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [21]:
inputs = input('문자열 입력: ').split()
print(inputs)

문자열 입력: 안녕하세요 히히 히히히
['안녕하세요', '히히', '히히히']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [22]:
'string'.isalpha()

True

In [35]:
'일이삼'.isalpha()

True

In [29]:
'10'.isdecimal()

True

In [30]:
'5'.isdigit()

True

In [31]:
'  '.isspace()

True

In [32]:
'STRING'.isupper()

True

In [33]:
'String'.istitle()

True

In [28]:
'string'.islower()

True

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.

In [36]:
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.

In [38]:
cafe.append('droptop')

In [39]:
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop']

In [ ]:
# 어렵게 넣어보도록 해봅시다.

In [40]:
cafe[len(cafe):] = ['ediya']

In [41]:
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'ediya']

In [47]:
cafe[-1] = 'paul basset'

In [48]:
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [49]:
cafe.extend(['빽다방'])

In [50]:
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset', '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [51]:
cafe += ['mccafe', 'burgerking']

In [52]:
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset', '빽다방', 'mccafe', 'burgerking']

In [ ]:
# append와 비교해봅시다.

In [53]:
cafe.append(['append cafe'])
print(cafe)
print('----------')
cafe.extend(['extend cafe'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset', '빽다방', 'mccafe', 'burgerking', ['append cafe']]
----------
['starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset', '빽다방', 'mccafe', 'burgerking', ['append cafe'], 'extend cafe']

In [54]:
print('----------')
cafe.extend('extend string')
print(cafe)

----------
['starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset', '빽다방', 'mccafe', 'burgerking', ['append cafe'], 'extend cafe', 'e', 'x', 't', 'e', 'n', 'd', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [ ]:
# append는 입력한 것 자체를 넣어버림
# extend는 리스트의 요소를 넣어버림
# extend에 문자열을 넣어버리면 문자열의 요소인 문자 각각을 따로 넣어버리는 결과가 발생한다.

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [55]:
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset', '빽다방', 'mccafe', 'burgerking', ['append cafe'], 'extend cafe', 'e', 'x', 't', 'e', 'n', 'd', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [56]:
cafe.insert(len(cafe), 'bye')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset', '빽다방', 'mccafe', 'burgerking', ['append cafe'], 'extend cafe', 'e', 'x', 't', 'e', 'n', 'd', ' ', 's', 't', 'r', 'i', 'n', 'g', 'bye']

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
# 오류가 발생하지는 않음

In [57]:
cafe.insert(len(cafe)+5, '!')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'twosome', 'droptop', 'paul basset', '빽다방', 'mccafe', 'burgerking', ['append cafe'], 'extend cafe', 'e', 'x', 't', 'e', 'n', 'd', ' ', 's', 't', 'r', 'i', 'n', 'g', 'bye', '!']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.

In [58]:
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [59]:
numbers.remove(1)

In [60]:
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [61]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [62]:
numbers.remove(1)

ValueError: list.remove(x): x not in list

### `.pop(i)`

* 정해진 위치 `i`에 있는 값을 삭제하며, **그 항목을 반환합니다.**

* `i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [63]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [64]:
print(a.pop(0))

1

In [65]:
print(a)

[2, 3, 4, 5, 6]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [66]:
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a}이/가 되었습니다.')

6가 삭제되어 [2, 3, 4, 5]이/가 되었습니다.

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [67]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [68]:
a.index(3)

2

In [69]:
# .index() 역시 .remove()와 마찬가지로 해당 값이 없으면 ValueError가 발생함!
a.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [70]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [71]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [72]:
a = [1, 2, 5, 1, 5, 1]

In [73]:
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.
# 검증(T/F)

In [75]:
print(target_value in a)

False

### `.sort()`

정렬을 합니다. 

`.sorted()` 와는 다르게 `.sort()`는 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [ ]:
# .sort() 를 사용해봅시다.

In [76]:
import random
lottery = random.sample(range(1, 46), 6)
print(lottery)

[26, 40, 30, 25, 44, 21]

In [77]:
lottery.sort()

In [79]:
print(lottery)
print(lottery.sort()) # lottery 객체 요소 배열 자체가 바뀌고 .sort()는 리턴값이 None

[21, 25, 26, 30, 40, 44]
None

In [80]:
lottery.sort(reverse=True)
print(lottery)

[44, 40, 30, 26, 25, 21]

### `.reverse()`

* 반대로 뒤집습니다. (정렬 아님; 정렬은 위의 `.sort(reverse=True)`)

* 순서만 뒤집어버린다는 얘기

In [83]:
classroom = ['Tom', 'David', 'John']

In [84]:
classroom.reverse()

In [85]:
print(classroom)

['John', 'David', 'Tom']

## 복사

**두 가지가 있음**
* 깊은 복사
* 얕은 복사

In [86]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [87]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [88]:
copy_list[0] = 5
print(original_list)

[5, 2, 3]

In [ ]:
# id 값을 확인해봅시다.

In [89]:
# 각 리스트의 값은 똑같은 ID를 가지고 있기 때문(바라보는 대상이 같은 것!)
copy_list is original_list

True

In [90]:
id(copy_list) == id(original_list)

True

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 각 변수가 ID값은 같지만, 바라보는 것이 달라지는 것임

In [96]:
a = 20005
b = a
a is b
b = 30005
print(a)

True
20005

In [ ]:
# 딕셔너리도 확인해봅시다.

In [99]:
lunch = {'김천': '치즈라면', '김가네': '제육볶음'}
dinner = lunch

dinner['김천'] = '참치김밥'
print(lunch)

{'김천': '참치김밥', '김가네': '제육볶음'}

### copy
> pythontutor 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [100]:
a = [1, 2, 3]
b = a[:]

b[0] = 5
print(a)

[1, 2, 3]

* 하지만, 이렇게 하는 것(슬라이스로 복사하는 것)도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.
# 리스트 속 리스트는 같은 것을 바라봄

In [101]:
a = [1, 2, [1, 2]]
b = a[:]

b[2][0] = 100
print(a)

[1, 2, [100, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.
# 깊은 복사가 완전히 복사를 한다는 것이므로, 서로 다른 것을 바라보게 됨
# 진정한 따로국밥

In [102]:
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 100
print(a)

[1, 2, [1, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [107]:
numbers = list(range(1, 100))

In [108]:
print(numbers)
numbers.clear()
print('-----')
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
-----
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
a = range(1, 11)

In [ ]:
# 기존의 방법

In [ ]:
# List Comprehension

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
a = range(1, 11)

In [ ]:
# 기존의 방법

In [ ]:
# List Comprehension

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
# List comprehension을 활용하여 만들어주세요.

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```python
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
# List comprehension을 활용하여 만들어주세요.

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

```python
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [ ]:
# dictionary comprehension

### dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [ ]:
# elif 도 사용할 수 있습니다.

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 `map_object` 형태로 됩니다.

In [ ]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [ ]:
# list comprehension

In [ ]:
numbers = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수

## `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 홀수인지 판단하는 함수를 작성해봅시다.

In [ ]:
# 다음의 list comprehension과 동일하다.