# 1. Data Table 구조 간단히 보기

* 데이터는 테이블(표) 형태로 저장
* 행(row)과 열(column)
  * 행: 개별 데이터
  * 열: 데이터의 특성

# 2. `SELECT` / `FROM` / `LIMIT`

* SELECT: 데이터 가져올 컬럼
* FROM: 데이터가 있는 테이블
* LIMIT: 몇 개의 데이터를 볼 것인지

```SQL
SELECT CustomerName, Address
-- 컬럼명 대신 '*' 을 쓰게 되면 전체 컬럼의 모든 레코드 정보를 보여주게 됨
FROM Customer
-- 샘플 데이터만 보고자 할 경우에 유용함
LIMIT 10
```

# 3. 비교연산자 / 논리연산자

## 1. 비교연산자

* 비교연산자: 특정 컬럼이 특정 값을 가지는 데이터만 불러오기 위하여 사용
  * 같다('='), 크다/작다\['<(=)'/'>(=)'\]
  * 첫 번째
    ```SQL
    SELECT *
    FROM Customers
    WHERE Country = 'Germany'
    ```
  * 두 번째
    ```SQL
    SELECT *
    FROM Customers
    WHERE CustomerID < 50
    ```
  * 세 번째(문자를 비교하는 경우)
    ```SQL
    SELECT *
    FROM Customers
    WHERE CustomerName < 'B'
    ```

## 2. 논리연산자

* 여러 개 조건을 결합하고자 할 때
  * AND: 두 개 조건을 동시에 만족해야 하는 경우
    ```SQL
    SELECT *
    FROM Customers
    WHERE CustomerName < 'B' AND Country = 'Germany'
    ```
  * OR: 두 개 조건 중 하나만 만족해도 되는 경우
    ```SQL
    SELECT *
    FROM Customers
    WHERE CustomerName < 'B' OR Country = 'Germany'
    ```

# 4. `LIKE`, `IN`, `BETWEEN`, `IS NULL`

## 1. `LIKE`

* `LIKE`를 이용하여 문자열의 패턴을 찾을 수 있음
  * Country 가 'Br'로 시작하는 데이터를 찾는 경우
    ```SQL
    SELECT *
    FROM Customers
    WHERE Country LIKE 'Br%'
    ```
    * `%`(와일드카드)를 붙이면 해당 위치에 어떤 것이 들어가도 상관 없다는 의미가 됨

* Wildcard(`%`)
  * 어떤 것이 와도 상관없는 곳을 표시할 때 사용
    ```SQL
    SELECT *
    FROM Customers
    WHERE Country LIKE '%r%'
    ```
    * `%r%`을 넣게 되면 앞뒤 상관 없이 문자에 'r'이 있는 모든 것을 찾게 됨

* 찾고자하는 값이 명확한 경우 `WHERE` 절에서 `=`를 쓰는 것이 빠름
  * `WHERE Country = 'Brazil'` > `WHERE Country LIKE 'Brazil'`
* 용도에 맞게 사용하는 것이 매우 중요함

* 한 글자 와일드카드(`_`) 사용
  * 특정 문자 앞뒤로 몇 개의 문자가 나올 것임을 정할 때 사용
  ```SQL
  SELECT *
  FROM Customers
  WHERE Country LIKE 'B_____'
  ```
  * 위의 경우 Brazil 만 나오고 Belgium 등 'B' 이후 문자가 5개가 아닌 것은 검색되지 않음

* 와일드카드 사용 예
    ```SQL
    WHERE COL1 LIKE 'a%'   -- 'a'로 시작하는 모든 것
    WHERE COL1 LIKE '%a'   -- 'a'로 끝나는 모든 것
    WHERE COL1 LIKE '%a%'  -- 'a'를 포함하는 모든 것
    WHERE COL1 LIKE '_a%'  -- 두 번째 글자가 'a'인 것
    WHERE COL1 LIKE 'a%o'  -- 'a'로 시작해서 'o'로 끝나는 모든 것
    ```

## 2. `IN`, `BETWEEN x AND y`

* `IN`을 사용하여 결과에서 포함하고자 하는 값 목록을 지정할 수 있음
    ```SQL
    SELECT *
    FROM Customers
    WHERE Country IN ('Germany', 'France', 'Korea')
    -- 위는 WHERE Country = 'Germany' OR Country = 'France' OR Country = 'Korea' 와 같음
    -- 하지만 더 많은 정보를 확인코자할 때는 구문이 너무 길어지므로 `IN`을 활용하는 편이 효율적임
    ```

* `BETWEEN x AND y`
    ```SQL
    SELECT *
    FROM Customers
    WHERE CustomerID BETWEEN 3 AND 5
    -- WHERE 3 <= 'CustomerID' <= 5
    ```

## 3. `IS NULL`

* 빈 데이터를 검색하기 위한 용도
    ```SQL
    SELECT *
    FROM Customers
    WHERE CustomerID IS NULL
    ```

* NULL, NaN(Not a Number; 숫자도 아니고 문자도 아니고, 아무 것도 아니다)

* NULL 값이 아닌 행을 검색하고자 할 때는 `IS NOT NULL` 사용