## 1. 국가(대륙)별/상품군별 온라인쇼핑 해외직접판매액
* 국가통계포털: http://kosis.kr/index/index.do;jsessionid=LqtHG7azlhHbNwukvt6kzhMgGIt3WirKYMlqrrTMCDkm3DOgVw1Q8OLF1sVm1sQY.STAT_SIGA2_servlet_engine1
* 관련 기사: [지난해 온라인쇼핑 18% 증가…'온라인 해외 수출'도 급증 l KBS WORLD Radio](https://world.kbs.co.kr/service/news_view.htm?lang=k&Seq_Code=346701 "지난해 온라인쇼핑 18% 증가…'온라인 해외 수출'도 급증 l KBS WORLD Radio")

### 1.1. K-Beauty 는 성장하고 있을까? 해외 직접판매를 한다면 어느 국가로 판매전략을 세우면 좋을까?
* K-Beauty 란? [K-Beauty](https://en.wikipedia.org/wiki/K-Beauty "K-Beauty")
* Θ: 추정치, p: 잠정치, -: 자료없음, ...: 미상자료, x: 비밀보호, ▽: 시계열 불연 (단위: 백만 원)

## 2. 필요 라이브러리 가져오기

In [1]:
# 라이브러리 로드

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# 시각화를 위한 폰트 설정

import os

if os.name == 'posix':
    sns.set(font='AppleGothic')
elif os.name == 'nt':
    sns.set(font='Malgun Gothic')

In [3]:
# 레티나 설정을 해주면 글씨가 더욱 선명하게 보입니다.
# 폰트 주변이 흐릿하게 보이는 것을 방지합니다.

%config InlineBackend.figure_format = 'retina'

## 3. 데이터 로드하기

In [4]:
df_raw = pd.read_csv('data/국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_2014_1-4_2020_1-2.csv',
                     encoding='cp949')
df_raw.shape

(450, 29)

In [5]:
# '국가(대륙)별' 데이터 빈도 세기
df_raw[df_raw['국가(대륙)별'] == '미국']

,국가(대륙)별,상품군별,판매유형별,2014 1/4,2014 2/4,2014 3/4,2014 4/4,2015 1/4,2015 2/4,2015 3/4,...,2018 1/4,2018 2/4,2018 3/4,2018 4/4,2019 1/4,2019 2/4,2019 3/4,2019 4/4,2020 1/4,2020 2/4 p)
45,미국,합계,계,25773,22573,21288,26729,39945,26654,28647,...,42679,40207,37631,48978,40918,44861,55386,53848,48277,63218
46,미국,합계,면세점,-,-,-,-,-,-,-,...,5184,3603,2317,2079,2657,2951,1818,1481,698,339
47,미국,합계,면세점 이외,-,-,-,-,-,-,-,...,37495,36604,35314,46899,38261,41910,53568,52367,47579,62879
48,미국,컴퓨터 및 주변기기,계,2216,1666,1776,1675,1469,1393,2166,...,2033,1553,1784,1774,1298,1408,1653,1382,1182,1594
49,미국,컴퓨터 및 주변기기,면세점,-,-,-,-,-,-,-,...,0,0,0,1,0,0,0,0,0,0
50,미국,컴퓨터 및 주변기기,면세점 이외,-,-,-,-,-,-,-,...,2033,1553,1784,1773,1298,1408,1653,1382,1182,1594
51,미국,가전·전자·통신기기,계,2875,2758,2894,3527,4397,3589,2982,...,1737,1716,1723,1886,1845,1837,3166,1785,1830,2759
52,미국,가전·전자·통신기기,면세점,-,-,-,-,-,-,-,...,65,38,72,52,66,116,107,49,12,2
53,미국,가전·전자·통신기기,면세점 이외,-,-,-,-,-,-,-,...,1672,1678,1651,1834,1779,1721,3059,1736,1818,2757
54,미국,소프트웨어,계,47,57,49,128,182,113,163,...,175,251,172,269,88,156,118,338,135,182
55,미국,소프트웨어,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
56,미국,소프트웨어,면세점 이외,-,-,-,-,-,-,-,...,175,251,172,269,88,156,118,338,135,182
57,미국,서 적,계,962,720,934,1006,1074,837,993,...,2089,1790,2033,1977,2259,1563,2596,1720,2135,2368
58,미국,서 적,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
59,미국,서 적,면세점 이외,-,-,-,-,-,-,-,...,2089,1790,2033,1977,2259,1563,2596,1720,2135,2368
60,미국,사무·문구,계,25,10,14,18,568,17,32,...,58,55,85,83,198,72,83,101,74,81
61,미국,사무·문구,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
62,미국,사무·문구,면세점 이외,-,-,-,-,-,-,-,...,58,55,85,83,198,72,83,101,74,81
63,미국,음반·비디오·악기,계,787,720,722,821,849,781,827,...,2362,3014,3932,4550,3857,5191,5762,4786,4948,6981
64,미국,음반·비디오·악기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
65,미국,음반·비디오·악기,면세점 이외,-,-,-,-,-,-,-,...,2362,3014,3932,4550,3857,5191,5762,4786,4948,6981
66,미국,의류 및 패션관련 상품,계,9810,7801,6404,9208,8602,6927,8055,...,11815,12169,10233,13658,12257,13571,13243,15964,12480,21836
67,미국,의류 및 패션관련 상품,면세점,-,-,-,-,-,-,-,...,116,154,134,118,110,115,95,91,36,-5
68,미국,의류 및 패션관련 상품,면세점 이외,-,-,-,-,-,-,-,...,11699,12015,10099,13540,12147,13456,13148,15873,12444,21841
69,미국,스포츠·레저용품,계,573,539,475,491,541,527,481,...,1181,1439,1200,1072,1152,1602,3149,858,952,1483
70,미국,스포츠·레저용품,면세점,-,-,-,-,-,-,-,...,0,0,1,3,4,0,0,0,0,0
71,미국,스포츠·레저용품,면세점 이외,-,-,-,-,-,-,-,...,1181,1439,1199,1069,1148,1602,3149,858,952,1483
72,미국,화장품,계,3740,3713,3399,4595,11223,6176,7061,...,13909,11219,9717,15738,10817,11310,13999,13494,12402,11445
73,미국,화장품,면세점,-,-,-,-,-,-,-,...,4927,3311,2028,1780,2366,2647,1550,1271,625,337
74,미국,화장품,면세점 이외,-,-,-,-,-,-,-,...,8982,7908,7689,13958,8451,8663,12449,12223,11777,11108
75,미국,아동·유아용품,계,583,546,499,610,1099,603,619,...,766,793,730,1056,815,1153,1702,1928,944,1321
76,미국,아동·유아용품,면세점,-,-,-,-,-,-,-,...,1,0,2,0,0,0,0,0,0,0
77,미국,아동·유아용품,면세점 이외,-,-,-,-,-,-,-,...,765,793,728,1056,815,1153,1702,1928,944,1321
78,미국,음·식료품,계,381,415,405,673,577,628,631,...,277,311,239,278,336,313,602,424,1187,450
79,미국,음·식료품,면세점,-,-,-,-,-,-,-,...,75,100,80,125,111,73,64,70,25,5
80,미국,음·식료품,면세점 이외,-,-,-,-,-,-,-,...,202,211,159,153,225,240,538,354,1162,445
81,미국,농축수산물,계,94,98,111,160,189,192,193,...,1,0,0,33,2,2,7,2,2,12
82,미국,농축수산물,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
83,미국,농축수산물,면세점 이외,-,-,-,-,-,-,-,...,1,0,0,33,2,2,7,2,2,12
84,미국,생활용품 및 자동차용품,계,1931,1915,1815,1871,6605,2189,2207,...,2483,2357,2150,2159,2174,2410,3409,3713,2212,3041
85,미국,생활용품 및 자동차용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,2,0,0,0
86,미국,생활용품 및 자동차용품,면세점 이외,-,-,-,-,-,-,-,...,2483,2357,2150,2159,2174,2410,3407,3713,2212,3041
87,미국,기 타,계,1749,1615,1791,1946,2570,2682,2237,...,3793,3540,3633,4445,3820,4273,5897,7353,7794,9665
88,미국,기 타,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
89,미국,기 타,면세점 이외,-,-,-,-,-,-,-,...,3793,3540,3633,4445,3820,4273,5897,7353,7794,9665

## 4. 분석과 시각화를 위한 tidy data 만들기
* https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [6]:
df_raw.columns

Index(['국가(대륙)별', '상품군별', '판매유형별', '2014 1/4', '2014 2/4', '2014 3/4',
       '2014 4/4', '2015 1/4', '2015 2/4', '2015 3/4', '2015 4/4', '2016 1/4',
       '2016 2/4', '2016 3/4', '2016 4/4', '2017 1/4', '2017 2/4', '2017 3/4',
       '2017 4/4', '2018 1/4', '2018 2/4', '2018 3/4', '2018 4/4', '2019 1/4',
       '2019 2/4', '2019 3/4', '2019 4/4', '2020 1/4', '2020 2/4 p)'],
      dtype='object')

In [7]:
df_raw.values

array([['합계', '합계', '계', ..., 1879499, 1525487, 1273753],
       ['합계', '합계', '면세점', ..., 1655635, 1297490, 1051987],
       ['합계', '합계', '면세점 이외', ..., 223864, 227997, 221766],
       ...,
       ['기타', '기 타', '계', ..., 1094, 939, 710],
       ['기타', '기 타', '면세점', ..., 1, 0, 0],
       ['기타', '기 타', '면세점 이외', ..., 1093, 939, 710]], dtype=object)

In [8]:
df = df_raw.melt(id_vars=['국가(대륙)별', '상품군별', '판매유형별'],
                 var_name='기간', value_name='단위(백만 원)')
df.shape

(11700, 5)

In [9]:
df.head()

  국가(대륙)별        상품군별   판매유형별        기간 단위(백만 원)
0      합계          합계       계  2014 1/4   148272
1      합계          합계     면세점  2014 1/4        -
2      합계          합계  면세점 이외  2014 1/4        -
3      합계  컴퓨터 및 주변기기       계  2014 1/4     4915
4      합계  컴퓨터 및 주변기기     면세점  2014 1/4        -

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11700 entries, 0 to 11699
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국가(대륙)별   11700 non-null  object
 1   상품군별      11700 non-null  object
 2   판매유형별     11700 non-null  object
 3   기간        11700 non-null  object
 4   단위(백만 원)  11700 non-null  object
dtypes: object(5)
memory usage: 457.2+ KB

## 5. 데이터 전처리
### 5.1. 기간에서 연도를 분리하기

In [11]:
int('2020 2/4 p)'.split()[0])

2020

In [12]:
df['연도'] = df['기간'].map(lambda x: int(x.split()[0]))
df.head()

  국가(대륙)별        상품군별   판매유형별        기간 단위(백만 원)    연도
0      합계          합계       계  2014 1/4   148272  2014
1      합계          합계     면세점  2014 1/4        -  2014
2      합계          합계  면세점 이외  2014 1/4        -  2014
3      합계  컴퓨터 및 주변기기       계  2014 1/4     4915  2014
4      합계  컴퓨터 및 주변기기     면세점  2014 1/4        -  2014

In [13]:
'2020 2/4 p)'.split()[1].split('/')[0]

'2'

In [14]:
# 기간에서 분기만 분리하기
# 분기 컬럼 만들기
df['분기'] = df['기간'].map(lambda x: int(x.split()[1].split('/')[0]))
df.head()

  국가(대륙)별        상품군별   판매유형별        기간 단위(백만 원)    연도  분기
0      합계          합계       계  2014 1/4   148272  2014   1
1      합계          합계     면세점  2014 1/4        -  2014   1
2      합계          합계  면세점 이외  2014 1/4        -  2014   1
3      합계  컴퓨터 및 주변기기       계  2014 1/4     4915  2014   1
4      합계  컴퓨터 및 주변기기     면세점  2014 1/4        -  2014   1

### 5.2. 금액을 수치데이터로 표현하기 위해 데이터 타입 변경하기

In [15]:
# - 문자를 결측치로 변경하고 float 타입으로 변경하기
import numpy as np

df['단위(백만 원)'] = df['단위(백만 원)'].replace('-', np.nan).astype(float)
# float 으로 변경하는 이유는 NaN 의 type 이 float 이기 때문
df['단위(백만 원)']
df.head()

  국가(대륙)별        상품군별   판매유형별        기간  단위(백만 원)    연도  분기
0      합계          합계       계  2014 1/4  148272.0  2014   1
1      합계          합계     면세점  2014 1/4       NaN  2014   1
2      합계          합계  면세점 이외  2014 1/4       NaN  2014   1
3      합계  컴퓨터 및 주변기기       계  2014 1/4    4915.0  2014   1
4      합계  컴퓨터 및 주변기기     면세점  2014 1/4       NaN  2014   1

### 5.3. 필요없는 데이터 제거하기

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11700 entries, 0 to 11699
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국가(대륙)별   11700 non-null  object
 1   상품군별      11700 non-null  object
 2   판매유형별     11700 non-null  object
 3   기간        11700 non-null  object
 4   단위(백만 원)  8100 non-null   float64
 5   연도        11700 non-null  int64
 6   분기        11700 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 640.0+ KB

In [17]:
# 합계 데이터는 따로 구할 수 있기 때문에 전체 데이터에서 제거합니다.

df = df[(df['국가(대륙)별'] != '합계') & (df['상품군별'] != '합계')].copy()

In [18]:
# info 로 정보 보기

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9828 entries, 48 to 11699
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국가(대륙)별   9828 non-null   object
 1   상품군별      9828 non-null   object
 2   판매유형별     9828 non-null   object
 3   기간        9828 non-null   object
 4   단위(백만 원)  6804 non-null   float64
 5   연도        9828 non-null   int64
 6   분기        9828 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 614.2+ KB

In [19]:
# 결측치 보기

df.isnull().sum()

국가(대륙)별        0
상품군별           0
판매유형별          0
기간             0
단위(백만 원)    3024
연도             0
분기             0
dtype: int64

## 6. K-Beauty 시각화

### 6.1. 전체 상품군 판매액