# An understanding of data

## 모델을 학습할 때 영향을 주는 것들

* 모델: `y = ax + b`, `y = f(x)` 등과 같은 수식 또는 함수
  * `y = ax + b` 에서
    * x: 독립변수(주어진 것. 다른 것의 영향을 받지 않는 것)
    * y: 종속변수(x와 a, b에 의해 결정됨)
    * x와 y: 데이터를 통해 찾음
    * a와 b: 알고리즘을 통해 최적값을 찾게 됨

## Y값에 영향을 주는 X값은 하나인가?

### Boston House Price Dataset
* 데이터 분석 입문 시 대표적으로 사용하는 데이터셋 → toy example / data example
* 1978년 발표. 미국 인구통계 조사결과, 미국 보스턴 지역의 주택 가격(종속변수)에 영향을 주는 요소들(독립변수)을 정리
* 13개의 독립변수와 한 개의 종속변수
  * 독립변수의 실제 데이터는 특징(feature)을 나타냄

### Feature
* 머신러닝에서 데이터의 특징을 나타내는 변수
* feature, 독립변수, input 변수 등은 같은 의미로 사용
* 일반적으로 table 상의 data를 표현할 때 COLUMN(열)을 의미
* 하나의 data instance(실제 데이터)는 feature vector로 표현

### 차원의 저주(curse of dimensionality)
* 데이터의 차원이 증가(feature가 증가)할수록 데이터를 표현하는 공간이 증가하므로
  * 희소 벡터(sparse vector) 증가(값이 없는 feature가 늘어남)
  * 샘플데이터가 급속도로 늘어남
* 데이터 분포나 모델 추정에 어려움

## Data Types

* Feature 마다 필요한 Data 유형이 다름

### 연속형 값(continuous) vs. 이산형 값(discrete)
* continuous
  * 값이 끊어지지 않고 연결됨
  * 온도, 시험 평균 점수, 속도
  * 일반적으로 실수 값
* discrete
  * 값이 연속적이지 않음
  * 성별, 우편, 주소, 등수
  * Label로 구분

### Numeric Types (숫자형 값)
* 정량적으로 측정 가능한 데이터 타입
* 일반적으로 정수(integer) 또는 실수(real-number)로 표현
* 온도, 자동차 속도, 날짜의 차이(year or day)
* 단위(scale)이 있는 Interval-scaled type
* 비율이 있는 Ratio-scaled type

### Nominal Types or Categorical Types
* label(이름)로 표시되는 범주(category)로 분류가 가능한 데이터 타입
* "명목 척도"라는 표현으로 사용되기도 함
* 색깔, 학교명, ID, 전공명 등
* 두 개의 category만 분류할 때는 binary type(T/F)으로 구별

### Ordinal Types
* 범주로 분류가 가능하지만 범주 간에 순서가 있음
* 음료수 병의 크기(대/중/소), 학점, 5점 척도 설문조사(5. 매우 높다 / 4. 높다 / 3. 중간 / 2. 낮다 / 1. 매우 낮다)
* 측정되는 Scale 또는 Unit이 사람마다 다를 수 있음(사람마다 기준으로 하는 단위가 다를 수 있다는 얘기)
* "순서가 있는 것"과 "배수로 증가하는 개념"은 다름

### 발생 가능한 문제점
* 데이터의 최대/최소가 다름 → Scale에 따라 y값에 영향
* Ordinary 또는 Nominal 값의 표현은 어떻게 할 것인지?
* 잘못 기입된 값에 대한 처리는?
* 값이 없을 경우에는?
* 극단적으로 큰 값 또는 작은 값은 어떻게?
* 결국 전처리를 어떻게 하느냐에 따라 달려있음

## Loading data w/ pandas

### 데이터 형식
* 데이터 분석 시 일반적으로 사용하는 raw data는 binary 형태가 아닌 text 형태의 데이터임
* 주로 사용되는 데이터 포맷: csv, json, xml, etc.
* pandas를 이용하여 데이터를 호출

### Pandas
* 구조화된(structured) 데이터의 처리를 지원하는 파이썬 라이브러리
* 고성능 Array 계산 라이브러리인 Numpy와 통합하여 강력한 스프레드시트 처리 기능 제공
* 인덱싱, 연산용 함수, 전처리 함수 등 제공

In [1]:
import pandas as pd

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data = pd.read_csv(data_url, sep='\s+', header=None)
# sep 부분은 정규표현식을 사용하여 공백(blank)을 나타낸 것

In [2]:
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [3]:
df_data.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
# column header 이름 지정
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
df_data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

### Numpy
* Numerical Python
* 파이썬의 고성능 과학 계산용 패키지
* Matrix, Vector와 같은 Array 연산에서 사실상의 표준
* 한글로는 대부분 넘파이로 통칭
* 일반 리스트(List)에 비해 빠르고 메모리 효율적임
* 반복문 없이 데이터 배열에 대한 처리 지원
* 선형대수와 관련된 다양한 기능 제공
* C, C++, Fortran 등 언어와 통합 가능

In [5]:
import numpy as np

weight_vector = np.array([[1], [1], [1]])
x_vector = np.array([[3], [4], [5]])

# "T"는 transpose: 행렬의 행과 열 바꾸기/축 바꾸기/전치행렬
weight_vector.T.dot(x_vector) # 1 * 3 + 1 * 4 + 1 * 5 = 12

array([[12]])

In [6]:
df_data['weight_0'] = 1
df_data = df_data.drop('MEDV', axis=1)
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [7]:
# df_data.as_matrix()는 더 이상 사용되지 않음
df_data.values

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        1.0000e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        1.0000e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        1.0000e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        1.0000e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        1.0000e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.0000e+00]])

In [8]:
df_data.shape

(506, 14)

In [9]:
df_matrix = df_data.values
weight_vector = np.random.random_sample((14, 1))

In [10]:
df_matrix.dot(weight_vector)

array([[287.44157411],
       [250.86063946],
       [246.37391443],
       [232.54022941],
       [234.87710011],
       [234.69221591],
       [298.8803143 ],
       [305.12201673],
       [305.29195945],
       [300.77165348],
       [304.16905682],
       [301.91897906],
       [294.04211708],
       [286.30942168],
       [286.23546377],
       [285.18407809],
       [278.62453814],
       [288.21561841],
       [257.51567376],
       [286.5443809 ],
       [289.45681376],
       [290.53615123],
       [292.97680372],
       [293.83119034],
       [292.2171505 ],
       [269.50304734],
       [287.22728977],
       [270.95615058],
       [290.23492615],
       [287.21153728],
       [285.36803439],
       [288.39724676],
       [254.55960169],
       [284.29734497],
       [259.12705261],
       [271.71574316],
       [266.43995595],
       [267.46855423],
       [265.21296561],
       [308.00957592],
       [306.7434968 ],
       [231.95958866],
       [232.07501654],
       [235.00149064],
       [239.32791105],
       [240.11019031],
       [240.83715436],
       [248.91518429],
       [253.60530226],
       [245.69347105],
       [265.30591187],
       [266.83796323],
       [260.38490215],
       [260.90945624],
       [431.44624426],
       [308.33010714],
       [349.39803394],
       [333.48702406],
       [290.46627409],
       [295.01165157],
       [298.2609163 ],
       [298.71020107],
       [297.85940158],
       [294.50182658],
       [246.61294597],
       [357.60330964],
       [360.60364761],
       [308.82755603],
       [312.26283351],
       [310.9132874 ],
       [274.09813404],
       [274.6754146 ],
       [275.63963086],
       [272.61387701],
       [327.86087873],
       [331.55390057],
       [334.38484771],
       [332.73612345],
       [334.33560013],
       [333.20003185],
       [286.22379744],
       [291.9427146 ],
       [286.18860576],
       [287.06134   ],
       [248.81531965],
       [248.4039483 ],
       [248.65688087],
       [249.35339689],
       [264.41024429],
       [260.70728506],
       [260.65443163],
       [262.05115846],
       [290.58998033],
       [286.65945403],
       [295.09483662],
       [253.9991306 ],
       [264.56976073],
       [265.86610203],
       [258.8714426 ],
       [263.99990903],
       [330.97902381],
       [329.52724671],
       [255.75985847],
       [332.68913033],
       [332.42766534],
       [334.47364844],
       [334.55593838],
       [330.82024262],
       [334.19074358],
       [332.93740686],
       [327.31911819],
       [357.69570454],
       [360.2209205 ],
       [361.30988951],
       [356.37695329],
       [347.65590101],
       [355.98805388],
       [357.44247313],
       [343.76618364],
       [354.6336769 ],
       [229.21991942],
       [228.74246496],
       [230.89122008],
       [231.12185697],
       [231.54158769],
       [231.21960095],
       [228.60770005],
       [367.97756909],
       [369.38888965],
       [369.17046589],
       [368.45566594],
       [368.67097912],
       [365.83917118],
       [366.76050922],
       [338.05277466],
       [369.0964557 ],
       [364.36481604],
       [368.51824458],
       [369.14361767],
       [369.7767098 ],
       [368.14738239],
       [372.96658416],
       [351.42355472],
       [351.10619632],
       [351.09342097],
       [298.76322536],
       [295.57428286],
       [349.58991366],
       [340.96774991],
       [338.7133341 ],
       [342.65462708],
       [335.3598733 ],
       [333.8676574 ],
       [317.0100076 ],
       [330.78511324],
       [274.02264289],
       [275.52244233],
       [338.68117591],
       [336.95356333],
       [339.85983656],
       [332.47365651],
       [339.86561843],
       [345.0359893 ],
       [344.52739489],
       [346.47342172],
       [309.94052523],
       [340.03523994],
       [305.21203743],
       [324.06841903],
       [331.77194857],
       [323.20794147],
       [336.35087901],
       [282.79510493],
       [280.91242994],
       [277.98337687],
       [271.36201339],
       [274.89754598],
       [278.7858556 ],
       [278.15628406],
       [219.48486667],
       [223.69633744],
       [220.6852142 ],
       [224.01687835],
       [225.21458355],
       [224.31687049],
       [220.18963171],
       [217.89497005],
       [364.70672303],
       [359.86687637],
       [365.01248995],
       [357.87927479],
       [361.99796267],
       [361.25374277],
       [297.30079916],
       [294.56434716],
       [313.42910733],
       [351.86276898],
       [343.06875399],
       [351.89766152],
       [403.03354797],
       [399.87567429],
       [365.28806187],
       [361.72658522],
       [310.60481987],
       [309.74639358],
       [264.94935652],
       [269.29347541],
       [272.36248378],
       [268.06758279],
       [279.45786108],
       [276.39525556],
       [277.48417942],
       [269.66472862],
       [263.71621784],
       [255.25946289],
       [267.07551463],
       [271.20838584],
       [274.84861786],
       [278.84551897],
       [276.58951733],
       [291.5193338 ],
       [294.89666122],
       [289.63050727],
       [290.79723923],
       [287.34126584],
       [287.58006222],
       [288.92302511],
       [284.70654564],
       [275.99463176],
       [277.00303405],
       [285.13599267],
       [285.09710713],
       [286.57336805],
       [284.72467177],
       [280.42225306],
       [283.6107242 ],
       [288.92231711],
       [287.4928206 ],
       [295.44590859],
       [300.34750147],
       [304.84614424],
       [307.27840528],
       [300.16577578],
       [292.52563209],
       [315.55153401],
       [319.67216765],
       [312.82548386],
       [316.54525137],
       [311.49475186],
       [310.61575722],
       [310.28543584],
       [304.67348044],
       [306.73857355],
       [309.90257438],
       [344.95786739],
       [343.97765079],
       [315.56003784],
       [278.12934882],
       [278.79509043],
       [280.52904248],
       [278.56837768],
       [278.32464804],
       [278.28015743],
       [281.03880612],
       [278.60986059],
       [275.27663459],
       [277.93143475],
       [274.22270993],
       [272.33907659],
       [255.66196764],
       [251.65390855],
       [248.4691535 ],
       [254.77950398],
       [253.18346137],
       [284.38100646],
       [285.52906145],
       [285.75892883],
       [282.97252601],
       [284.59814895],
       [245.76769804],
       [248.58040451],
       [245.52692197],
       [244.06457476],
       [288.08418749],
       [335.63864174],
       [315.64465521],
       [294.41186337],
       [316.9512623 ],
       [319.26753012],
       [310.30080062],
       [311.85416005],
       [311.94975873],
       [311.36907835],
       [271.14851082],
       [275.14483554],
       [272.84216724],
       [275.12631469],
       [278.64653611],
       [354.18910547],
       [353.56819961],
       [364.062593  ],
       [323.39982007],
       [316.97900329],
       [317.86082338],
       [263.67804773],
       [266.37545404],
       [269.03991025],
       [268.85265018],
       [287.10967054],
       [286.92037028],
       [270.50472069],
       [282.64383763],
       [289.36596499],
       [286.87094425],
       [288.49489408],
       [287.41821147],
       [288.32571235],
       [287.51091648],
       [285.45162194],
       [284.84242056],
       [274.14843253],
       [274.37792312],
       [273.80074737],
       [276.88998276],
       [272.08671397],
       [267.28491153],
       [270.40784015],
       [273.91964913],
       [339.21894637],
       [335.80755889],
       [336.9028884 ],
       [303.43937738],
       [294.36604205],
       [235.72180496],
       [235.91815828],
       [237.19633464],
       [239.24271677],
       [240.98655223],
       [237.440196  ],
       [239.08590236],
       [241.00532624],
       [292.49253638],
       [337.96456232],
       [362.55324621],
       [355.71915237],
       [302.60585466],
       [298.63279521],
       [371.35393158],
       [327.87156821],
       [321.99872214],
       [325.0746716 ],
       [377.57880992],
       [380.23735226],
       [287.22711442],
       [355.67905405],
       [353.31119006],
       [505.55340878],
       [506.70355274],
       [506.17402652],
       [504.59084052],
       [500.95025049],
       [496.95615356],
       [503.77308573],
       [497.45855675],
       [495.78231057],
       [495.24268433],
       [488.38104014],
       [446.35297082],
       [501.57421699],
       [501.95812819],
       [505.97567329],
       [501.18423616],
       [495.33724253],
       [513.15107251],
       [514.00407065],
       [509.81381518],
       [502.62793093],
       [510.76723436],
       [511.55770134],
       [510.63717841],
       [513.65735195],
       [511.08747956],
       [511.06973857],
       [511.17877522],
       [485.28278669],
       [512.56101267],
       [512.63768202],
       [511.74765304],
       [506.93424594],
       [510.27308341],
       [508.70190172],
       [503.03970172],
       [511.0405414 ],
       [508.44038781],
       [509.18956356],
       [508.69257814],
       [509.6709193 ],
       [509.2529641 ],
       [514.13609503],
       [495.21142531],
       [512.75269168],
       [510.94076653],
       [505.79585957],
       [510.58442137],
       [495.61804066],
       [511.64239799],
       [504.98296362],
       [493.70286974],
       [491.79631663],
       [459.74852672],
       [418.13419096],
       [426.01180336],
       [426.85279259],
       [467.63349214],
       [442.9843816 ],
       [425.96560068],
       [422.23987763],
       [447.50734307],
       [424.91929151],
       [425.8550344 ],
       [491.38638099],
       [490.73736917],
       [482.70463514],
       [415.96679417],
       [412.74502392],
       [419.46751263],
       [415.99505899],
       [418.95420819],
       [436.77610463],
       [431.66677215],
       [434.18868957],
       [435.58139851],
       [434.67546033],
       [438.06829335],
       [439.4783169 ],
       [443.13472485],
       [422.66938187],
       [421.02662838],
       [434.52684576],
       [510.07164572],
       [509.21467459],
       [507.60094064],
       [509.44694762],
       [508.10822965],
       [474.14804822],
       [427.50402664],
       [490.93199344],
       [507.48782494],
       [510.05248676],
       [488.3667862 ],
       [415.68899682],
       [500.01537949],
       [505.83497877],
       [505.20871125],
       [417.84142867],
       [426.62437339],
       [417.35732865],
       [414.3582335 ],
       [478.02930758],
       [507.04702729],
       [474.95738422],
       [506.24708452],
       [506.74996656],
       [506.36867976],
       [503.92733921],
       [486.37071292],
       [419.15049685],
       [494.21789163],
       [499.46411695],
       [503.01566082],
       [507.13673376],
       [507.1041008 ],
       [504.55929363],
       [498.69090029],
       [498.78687312],
       [488.62643375],
       [508.98501758],
       [500.04344663],
       [505.67241956],
       [504.45498116],
       [503.20148228],
       [503.40092944],
       [504.19386353],
       [498.2091126 ],
       [493.80339124],
       [499.22839661],
       [505.3566644 ],
       [499.38278189],
       [516.67720502],
       [506.67628655],
       [501.6451724 ],
       [516.59109116],
       [514.934098  ],
       [332.37730582],
       [331.00301695],
       [328.78573742],
       [337.03427875],
       [335.41567667],
       [334.38365005],
       [335.67811531],
       [336.88231915],
       [267.2878115 ],
       [269.34572107],
       [271.08984248],
       [270.15629347],
       [269.73578201]])

In [11]:
df_matrix.dot(weight_vector).shape

(506, 1)