# 상승장? 하락장?

> 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

|Key Name|Description|
|------|---|
|opeing_price|최근 24시간 내 시작 거래금액|
|closing_price|최근 24시간 내 마지막 거래금액|
|min_price|최근 24시간 내 최저 거래금액|
|max_price|최근 24시간 내 최고 거래금액|

* 변동폭: 최고가와 최저가의 차이
* 시가: 시작가
* 상승장: **시가 + 변동폭** 이 최고가보다 높은 경우
* 하락장: **시가 + 변동폭** 이 최고가보다 낮은 경우

In [1]:
import requests
from pprint import pprint

url = "https://api.bithumb.com/public/ticker/btc"
data = requests.get(url).json()['data']
pprint(data)

{'24H_fluctate': '2000',
 '24H_fluctate_rate': '0.01',
 'average_price': '11252210.2086',
 'buy_price': '11275000',
 'closing_price': '11287000',
 'date': '1564492981400',
 'max_price': '11435000',
 'min_price': '11141000',
 'opening_price': '11285000',
 'sell_price': '11286000',
 'units_traded': '3109.31970186',
 'volume_1day': '3109.31970186',
 'volume_7day': '32240.88470744'}

In [2]:
start = int(data.get('opening_price'))
diff = int(data.get('max_price')) - int(data.get('min_price'))
highest = int(data.get('max_price'))

ret = '상승장' if diff > highest else '하락장'
print(ret)

하락장

# 모음 제거하기

> 다음 문장의 모음을 제거하여 출력하세요.

```
예시 입력)
"Life is too short, you need python"
예시 출력)
Lf s t shrt, y nd pythn
```

In [3]:
my_str = "Life is too short, you need python"

In [4]:
vowel = 'aeiou'
result = ''
for char in my_str:
    if char not in vowel:
        result += char
print(result)

Lf s t shrt, y nd pythn

# 과일 개수 골라내기

> 장바구니에 아래와 같은 과일이 들어있고 과일 판별 리스트가 있습니다.

```python
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}

fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

```
> 현재 장바구니에는 과일이 몇개이고 과일이 아닌 것은 몇개인지 출력하시오.
---
```
예시 출력)
과일은 23개이고, 11개는 과일이 아닙니다..
```

In [5]:
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']
# 아래에 코드를 작성하세요.

In [9]:
fruit, non_fruit = 0, 0
for item, value in basket_items.items():
    if item in fruits:
        fruit += value
    else:
        non_fruit += value
print('과일은 {0}개이고, {1}개는 과일이 아닙니다..'.format(fruit, non_fruit))

과일은 23개이고, 11개는 과일이 아닙니다..

# 영어 이름 출력하기 

> 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다.
>
> 가운데 이름은 대문자로 축약해서 나타내는 코드를 작성해보세요.

---
```
예시 입력)
Alice Betty Catherine Davis
```
```
예시 출력)
Alice B. C. Davis
```

In [ ]:
# 아래에 코드를 작성하세요.

In [6]:
name = input().split()
for i in range(1, len(name)-1):    
    name[i] = name[i][0].upper() + '.'
name = ' '.join(name)
print(name)

Alice Betty Catherine Davis
Alice B. C. Davis

# 구구단 출력하기
> 2단부터 9단까지 반복문을 사용하여 구구단을 출력하세요.
---
```
예시 출력)
------- [2 단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------- [3 단] -------
...
```

In [ ]:
# 아래에 코드를 작성하세요.

In [9]:
for i in range(2, 10):
    print('------- [{} 단] -------'.format(i))
    for j in range(1, 10):
        print('%d X %d = %d' % (i, j, i*j))        
    print()

------- [2 단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------- [3 단] -------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

------- [4 단] -------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

------- [5 단] -------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

------- [6 단] -------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

------- [7 단] -------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

------- [8 단] -------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

------- [9 단] -------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 달력 출력하기

> 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

---
```
예시 출력)
         1 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         2 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 

         3 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31
...
```

In [10]:
calendar = { 
        1: 31, 2: 28, 3: 31, 4: 30, 5: 31,6: 30, 
        7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 
} 
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] 
# 아래에 코드를 작성하세요.

In [24]:
for month, day in calendar.items():
    count = 0
    print('          {} 월'.format(month))
    for week in weeks:
        print(week, end=' ')
    print()
    for i in range(1, day+1):
        if i < 10:
            print(' {}'.format(i), end=' ')
        else:
            print('{}'.format(i), end=' ')
        count += 1
        if count == 7:
            print()
            count = 0
    print()

          1 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
          2 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

          3 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
          4 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
          5 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
          6 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
          7 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
          8 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
          9 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
          10 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
          11 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
          12 월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# 개인정보보호
> 사용자의 핸드폰번호를 입력 받으려고한다. 개인정보 보호를 위하여 뒷자리 4자리를 제외하고는 마스킹 처리를 하려고한다.
>
> 핸드폰번호는 010으로 시작해야하고 11자리여야한다. 핸드폰번호를 입력하지 않았다면 "핸드폰번호를 입력하세요"를 출력한다

```
예시 입력)
01012341234
예시 출력)
*******1234
```

In [ ]:
# 아래에 코드를 작성하세요.

In [32]:
while True:
    phone_num = input()
    result = ''
    if len(phone_num) == 0:
        print('휴대전화 번호를 입력하세요.')
        
    if phone_num[0:3] == '010' and len(phone_num) == 11:
        result = '*' * 7 + phone_num[-4:]
        print(result)
        break
    else:
        print('휴대전화 번호를 정확히 입력했는지 확인하세요.')

01054876578
*******6578

# 정중앙
> 사용자가 입력한 문자열중 가운데 글자를 출력하라. 문자열이 짝수라면 가운데 두글자를 출력하라

In [ ]:
# 아래에 코드를 작성하세요.

# 소수 찾기
> 조건, 반복문을 응용하여 numbers 리스트의 요소들이 소수인지 아닌지 판단하는 코드를 작성하라.

```python
numbers = [26, 39, 51, 53, 57, 79, 85]

# 출력 예시
26 는 소수가 아닙니다. 2 는 26 의 인수입니다.
39 는 소수가 아닙니다. 3 는 39 의 인수입니다.
51 는 소수가 아닙니다. 3 는 51 의 인수입니다.
53 는 소수입니다.
57 는 소수가 아닙니다. 3 는 57 의 인수입니다.
79 는 소수입니다.
85 는 소수가 아닙니다. 5 는 85 의 인수입니다.
```

In [ ]:
numbers = [26, 39, 51, 53, 57, 79, 85]
# 아래에 코드를 작성하세요.

# 종합소득세 계산하기

> A라는 나라에서는 종합소득세는 과세표준 금액 구간에 따라 다른 세율이 적용됩니다.

|과세표준액|세율|
|-------|---|
|1,200만 원이하|6%|
|1,200만 원 초과 4,600만 원 이하|15%|
|4,600만 원 초과 8,800만 원 이하|24%|
|8,800만 원 초과 1억 5,000만 원 이하|35%|
|1억 5,000만 원 초과 3억 원 이하|38%|
|3억 원 초과 5억 원 이하|40%|
|5억 원 초과 ~|42%|

즉, 1,300원을 벌었을 경우 `1,200\*0.06 + 100\*0.15`를 계산한 결과가 납부해야 하는 세액입니다.

함수 `tax(won)`을 만들고 납부해야하는 세금의 결과를 반환하는 함수를 만들어보세요.

---
```
예시)
tax(1200) #=> 72.0
tax(4600) #=> 582.0
tax(5000) #=> 722.0
```

In [ ]:
# 여기에 코드를 작성하세요.

# 카쉐어링 요금 계산하기

> 카쉐어링 서비스는 요금을 다음과 같이 계산합니다.
>
> 대여는 10분 단위로 가능합니다.
> 
> 1. 대여 요금 : 10분당 1,200원
>
> 2. 보험료 : 30분당 525원 (50분을 빌리면, 1시간으로 계산됩니다.)
>
> 3. 주행 요금 : km당 170원 (주행 요금은 100km가 넘어가면, 넘어간 부분에 대하여 할인이 50% 적용됩니다.)
>
> 예) 160km를 달렸으면, 170\*100 + 85 \*60
>
> 양의 정수인 대여시간(분)과 주행거리를 받아 계산 결과를 반환하는 함수 fee(minute, distance)를 만들어보세요.
---
```
예시) 
    fee(600, 50) #=> 91000
    fee(600, 110) #=> 100350
```

In [ ]:
# 여기에 코드를 작성하세요.

# 문자열 탐색

> 문자열 요소로만 이루어진 리스트를 넣었을 때, 문자열 길이가 2 이상이고 주어진 문자열의 첫번째와 마지막 문자가 같은 문자열의 수를 세는 함수 `start_end`를 작성하시오.

예시)

```python
start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']) #=> 3
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 3이 나오는지 확인하세요.
print(start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']))

# 이상한 덧셈

> 숫자들을 받아서 양의 정수의 합을 구하는 함수 `positive_sum`을 작성하세요.

예시)

```python
positive_sum(1,-4,7,12) #=> 20
positive_sum(-1, -2, -3, -4) #=> 0
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 20과 0이 나오는지 확인하세요.
print(positive_sum(1,-4,7,12))
print(positive_sum(-1, -2, -3, -4))

# Collatz 추측

> 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.
>
> 1. 입력된 수가 짝수라면 2로 나눕니다. 
> 2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
> 3. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
>
> 예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다.
>
> 위 작업을 몇 번이나 반복해야하는지 반환하는 함수, collatz를 완성해 주세요.
>
> 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

예시)

```python
collatz(6) #=> 8
collatz(16) #=> 4
collatz(27) #=> 111
collatz(626331) #=> -1
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 8, 4, 111, -1 이 나오는지 확인하세요.
print(collatz(6))
print(collatz(16))
print(collatz(27))
print(collatz(626331))

# 솔로 천국 만들기

> 리스트가 주어집니다. 리스트의 각 요소는 숫자 0부터 9까지로 이루어져 있습니다. 
>
> 이때, 리스트에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 
>
> 리스트에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 반환하는 lonely 함수를 작성해 주세요.
>
> 단, 제거된 후 남은 수들을 반환할 때는 리스트의 요소들의 순서를 유지해야 합니다.  

예시)

```python
lonely([1, 1, 3, 3, 0, 1, 1]) #=> [1, 3, 0, 1]
lonely([4, 4, 4, 3, 3]) #=> [4, 3]
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 [1, 3, 0, 1]과 [4, 3]이 나오는지 확인하세요.
print(lonely([1, 1, 3, 3, 0, 1, 1]))
print(lonely([4,4,4,3,3]))

# `abs()`

> 절대값은 숫자(int, float)가 들어오면 절대값을 반환하고, 복소수(complex)가 들어오면 그 크기를 반환합니다.
> 
> `my_abs(x)`를 만들어보세요.

**공식문서**
<center>
    <img src="https://user-images.githubusercontent.com/52446416/61273106-b6ee5c00-a7e3-11e9-8ec2-a086b0bc584f.png", alt="">
</center>

**복소수 크기 구하는법**
<center>
    <img src="https://user-images.githubusercontent.com/52446416/61273105-b655c580-a7e3-11e9-9859-0a9ffdecdf7d.png", alt="">
</center>

In [ ]:
# 예제 입력 및 출력
print(abs(3+4j), abs(-0.0), abs(-5))
abs(0)

In [ ]:
# 아래에 코드를 작성해주세요.

In [ ]:
# 예제 입력 및 출력
print(my_abs(3+4j), my_abs(0.0), my_abs(-5))

# `all()`

> all은 인자로 받는 iterable(range, list)의 모든 요소가 참이거나 비어있으면 True를 반환합니다.
>
> 이와 같은 my_all(x)을 작성해보세요

In [ ]:
# 예제 입력 및 출력
print(all([1, 2, 5, '6']))
print(all([[], 2, 5, '6']))

In [ ]:
# 아래에 코드를 작성해주세요.

In [ ]:
# 예제 입력 및 출력
print(my_all([1, 2, 5, '6']))
print(my_all([[], 2, 5, '6']))

# `any()`

> any는 인자로 받는 iterable(range, list)의 요소 중 하나라도 참이면 True를 반환하고, 비어있으면 False를 반환합니다.
>
> 이와 같은 my_any(x)를 작성해보세요.

In [ ]:
# 예제 입력 및 출력
print(any([1, 2, 5, '6']))
print(any([[], 2, 5, '6']))
print(any([0]))

In [ ]:
# 아래에 코드를 작성해주세요.

In [ ]:
# my_any 예제 입력 및 출력
print(my_any([1, 2, 5, '6']))
print(my_any([[], 2, 5, '6']))
print(my_any([0]))

# 최대공약수, 최소공배수 구하기

> 두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환하는 함수, gcdlcm을 완성해 보세요.
>
> 배열의 맨 앞에 최대공약수, 그다음 최소공배수를 넣어 반환하면 됩니다. 
>
> 예를 들어 두 수 3, 12의 최대공약수는 3, 최소공배수는 12이므로 `gcdlcm(3, 12)`는 `(3, 12)`를 반환해야 합니다. 

예시)

```python
print(gcdlcm(3, 12)) #=> (3, 12)
print(gcdlcm(1071, 1029)) #=> (21, 52479)
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
print(gcdlcm(3, 12))
print(gcdlcm(1029, 1071))

# 불쌍한 달팽이 - 고전 수학문제

>달팽이는 낮 시간 동안에 기둥을 올라갑니다. 하지만 밤에는 잠을 자면서 어느 정도의 거리만큼미끄러집니다. (낮 시간 동안 올라간 거리보다는 적게 미끄러집니다) 달팽이가 기둥의 꼭대기에 도달하는 날까지 걸리는 시간을 계산하면 됩니다.

> 당신의 함수에 들어가야 하는 3개의 인자는 다음과 같습니다.
- 기둥의 높이(미터)
- 낮 시간 동안 달팽이가 올라가는 거리(미터)
- 달팽이가 야간에 잠을 자는 동안 미끄러지는 거리(미터)

```python
snail(100, 5, 2)
# => 33
```

In [ ]:
# 여기에 코드를 작성하세요

In [ ]:
print(snail(100, 5, 2))

# 무엇이 중복일까

> 다음 리스트에서 중복되는 요소만 뽑아서 새로운 리스트에 옮기시오. 

```python
# 입력)
duplicated(['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n', 'b'])

# 출력)
['b', 'n']
```

In [ ]:
# 여기에 코드를 작성하시오.

In [ ]:
duplicated(['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n', 'b'])

# 알파벳만 남기고 뒤집기

> 문자열이 주어지면, 해당 문자열 중에서 알파벳이 아닌 문자는 전부 빼고 거꾸로 뒤집어 반환하는 함수를 작성하세요.

```python
# 예시) 
reverse_letter('krishan')
'nahsirk'

reverse_letter('ultr53o?n')
'nortlu'
```

In [ ]:
# 여기에 코드를 작성하세요

In [ ]:
print(reverse_letter('krishan'))
print(reverse_letter('ultr53o?n'))

# 편-안한 단어

> (QWERTY 키보드를 사용하여 타이핑을 한다고 가정할 때) '편안한 단어'는 타이핑 할 때 **손을 번갈아 칠 수 있는 단어**를 말합니다.
>
> 단어를 인자로 받아 그것이 '편안한 단어'인지 여부를 True/False로 반환하는 함수를 만드세요.(모든 단어는 a ~ z까지 오름차순으로 구성된 문자열입니다.)

> 문자 목록
- 왼손: q, w, e, r, t, a, s, s, d, f, g, z, x, c, v, b
- 오른손: y, u, i, o, p, h, j, k, l, n, m

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
print(comfortable_word('qywu'))
print(comfortable_word('apple'))

# 숫자패턴

>원하는 행까지 아래의 패턴을 생성하는 함수를 작성하세요. 만약 인자가 0이나 음의 정수인 경우 빈 문자열('')로 반환하세요.
> 
> 짝수가 인수로 전달되면 패턴은 통과된 짝수보다 작은 최대 홀수까지 계속되어야 합니다.

```python
# 예시 
print(pattern(9)):

1
333
55555
7777777
999999999

print(pattern(6))
1
333
55555
```
**유의
패턴에 공백은 없습니다.**

In [ ]:
# 여기에 코드를 작성하세요

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(pattern(9))
print(pattern(6))
print(pattern(0))

# 숫자가 좋아

> 섞여있는 문자열 속에서 정수만 뽑아내 합을 반환하는 함수 `pick_and_sum`를 작성하세요.

예시)
```python
print(pick_and_sum('The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog')) #=> 3635
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(pick_and_sum('The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog'))

# 소대소대

> 단어의 짝수번째 알파벳은 대문자로, 홀수번째 알파벳은 소문자로 바꾼 문자열을 return 하는 함수 `up_and_low`을 작성하세요.

예시)
```python
print(up_and_low('appleppie')) #=> aPpLePiE
print(up_and_low('spaceship')) #=> sPaCeShIp
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(up_and_low('appleppie'))
print(up_and_low('spaceship'))

# 통과한 시험

> 딕셔너리 형태로 언어 및 각 테스트의 결과가 주어지면 테스트 점수가 60 이상인 언어 목록의 결과를 내림차순으로 정렬된 리스트를 반환하는 `passpass` 함수를 작성하세요. (중복되는 점수는 없습니다.)

예시)

```python
passpass({'Java': 10, 'Ruby': 80, 'Python': 65}) #=> ['Ruby', 'Python']
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(passpass({'Java': 10, 'Ruby': 80, 'Python': 65}))

# 삼각수

> 삼각수는 1, 1+2, 1+2+3, 1+2+3+4, ... 의 결과에 해당하는 수를 뜻합니다. 
>
> 따라서, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120,..는 삼각수입니다. 
>
> 양의 정수를 입력받아 삼각수에 해당하는지 확인하는 `is_triangular`를 작성하세요.

```python
# 예시)
print(is_triangular(5050))
print(is_triangular(57))

True
False
```

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(is_triangular(5050))
print(is_triangular(57))

# 나만의 딕셔너리 생성기

> key의 리스트와 value의 리스트로 딕셔너리를 생성하여 return 하는 `create_dict(keys, values)` 함수를 작성하세요.
>
>만약에 value의 갯수가 key의 갯수보다 부족한 경우, None을 채워 넣어야 합니다. 반대로 key의 갯수가 부족한 경우, 초과하는 value들은 무시해도 됩니다.

```python
# 예시)
print(create_dict(['a', 'b', 'c', 'd'], [1, 2, 3]))
print(create_dict(['a', 'b', 'c'], [1, 2, 3, 4]))

{'a': 1, 'b': 2, 'c': 3, 'd': None}
{'a': 1, 'b': 2, 'c': 3}
```

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(create_dict(['a', 'b', 'c', 'd'], [1, 2, 3]))
print(create_dict(['a', 'b', 'c'], [1, 2, 3, 4]))

# 딕셔너리 뒤집기

> 딕셔너리는 기본적으로 key와 value로 이뤄져있습니다. 
>
> 딕셔너리를 입력받아 value와 key를 뒤집은 결과를 반환하는 `dict_invert`를 만들어봅시다. 

```python
# 예시)
print(dict_invert({1: 10, 2: 20, 3: 30}))
print(dict_invert({1: 10, 2: 20, 3: 30, 4: 30}))
print(dict_invert({1: True, 2: True, 3: True}))

{10: [1], 20: [2], 30: [3]}
{10: [1], 20: [2], 30: [3, 4]}
{True: [1, 2, 3]}
```

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(dict_invert({1: 10, 2: 20, 3: 30}))
print(dict_invert({1: 10, 2: 20, 3: 30, 4: 30}))
print(dict_invert({1: True, 2: True, 3: True}))

# 시험 채점 시스템

> 첫 번째 인자는 정답이 들어있는 리스트, 두 번째 인자는 사용자의 답이 들어있는 리스트입니다. 두 리스트는 비어있지 않으며 길이가 같습니다.
>
> 정답의 경우 +4점, 오답의 경우 -1점, 공백 응답(빈 문자열)의 경우 0점입니다. 만약, 점수가 0보다 작으면 0을 return 합니다.
>
> 위와 같이 시험 점수를 체크하는 함수 `check_score(real_answers, my_answers)` 을 작성하세요.



```python
# 예시)
print(check_score(['a', 'a', 'b', 'b'], ['a', 'c', 'b', 'd']))
print(check_score(['a', 'a', 'c', 'b'], ['a', 'a', 'b', '']))
print(check_score(['a', 'a', 'b', 'c'], ['a', 'a', 'b', 'c']))
print(check_score(['b', 'c', 'b', 'a'], ['', 'a', 'a', 'c'])

6
7
16
0
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(check_score(['a', 'a', 'b', 'b'], ['a', 'c', 'b', 'd']))
print(check_score(['a', 'a', 'c', 'b'], ['a', 'a', 'b', '']))
print(check_score(['a', 'a', 'b', 'c'], ['a', 'a', 'b', 'c']))
print(check_score(['b', 'c', 'b', 'a'], ['', 'a', 'a', 'c']))

# 메소드 없는 세상 <1>

> 알파벳으로 이뤄진 word를 입력받아 알파벳 대소문자를 서로 교환한 결과를 반환하는 `my_swapcase(word)`를 작성해주세요.

**`.upper()`, `.lower()`, `swapcase()`는 사용하지 말아주세요.**

**Tip! 문자와 숫자에는 특별한 관계가 있습니다. Google에서 아스키 코드를 참고하세요**

```python
# 예시
print(my_swapcase('hello, World!')) # => HELLO, wORLD!
print(my_swapcase('@_@')) # => @_@
print(my_swapcase('2^3은 8이다!')) # => 2^3은 8이다!
```

In [ ]:
# 아래에 코드를 작성해주세요.

In [ ]:
print(my_swapcase('hello, World!'))
print(my_swapcase('@_@'))
print(my_swapcase('2^3은 8이다!'))

# 메소드 없는 세상 <2>

> 우리는 문자열을 만들어 나갈 때, `.join(iterable)` 함수를 사용합니다. 
>
> `.join(iterable)`이 생각나지 않을 때를 위해 직접 만들어보면서 감사함을 느껴봅시다.
>
> `my_join(target, word)`를 만들어 문자열을 반환해주세요.
>
> target은 바꿀 대상(iterable)이며, word는 합쳐지는 단어입니다. 

---


예시)

`''.join(a)` 와 `my_join(a, '')`은 같은 함수 호출입니다.

```python
print(my_join('배고파', '.')) # => 배.고.파
print(my_join(['1', '2', '3'], '')) # => 123
```

In [ ]:
# 아래에 코드를 작성해주세요.

In [ ]:
print(my_join('배고파', '.'))
print(my_join(['1', '2', '3'], ''))

#  가능한 적게 변경하기

> 대문자와 소문자가 혼합되어 있는 문자열이 주어지며
>
> 다음의 기준에 따라서 문자열을 소문자 혹은 대문자로 변환하세요.


*  가능한 적게 변경하세요.
*  만약에 문자열의 대문자 혹은 소문자가 같다면, 문자열을 모두 소문자로 변경하세요.

--- 

```python
# 예시 입력) 
print(solve('coDe'))
print(solve('CODe'))
print(solve('coDE'))

# 예시 출력)
'code'
'CODE'
'code'
```

In [ ]:
# 아래에 코드를 작성해주세요.

In [ ]:
print(solve('coDe'))
print(solve('CODe'))
print(solve('coDE'))

# 숨바꼭질

> 숫자가 주어지면, 사용되지 않은 숫자를 프린트하세요.

---

```python
# 예시)
unused_digits(12, 34, 56, 78) # => '09'

unused_digits(2015, 8, 26)  # => '3479'
```


**결과값은 정렬되어야 합니다.**

In [ ]:
# 아래에 코드를 작성해주세요.

In [ ]:
print(unused_digits(12, 34, 56, 78))
print(unused_digits(2015, 8, 26))

# 짝홀짝홀
> n개의 양의 정수 리스트가 주어지면, 홀수와 짝수를 분리하고 각각의 조건에 맞게 홀수와 짝수를 
정렬하세요.

> 조건
1. 짝수와 홀수가 번갈아 가면서 나오게 됩니다.
2. 짝수가 먼저 시작됩니다.
3. 짝수는 오름차순으로 홀수는 내림차순으로 되어야합니다.

> 실습 입력 인자 조건
1. 인자 리스트의 크기는 적어도 4이상입니다.
2. 인자 리스트의 요소값으로 0은 존재하지 않습니다.
3. 인자 리스트의 요소값이 반복될 수 있으나 출력할 때는 중복 값이 없습니다.

```python
# 예시) 

print(even_and_odd([7, 3 , 14 , 17]))
# => [14, 17, 7, 3]

print(even_and_odd([1, 3, 5, 7, 9, 11]))
# => [11, 9, 7, 5, 3, 1]

print(even_and_odd([1, 2, 2, 4, 4, 6, 6, 2004, 9, 11]))
# => [2, 11, 4, 9, 6, 1, 2004]
```

In [ ]:
# 여기에 코드를 작성하세요

In [ ]:
print(even_and_odd([7, 3, 14, 17]))
print(even_and_odd([1, 3, 5, 7, 9, 11]))
print(even_and_odd([1, 2, 2, 4, 4, 6, 6, 2004, 9, 11]))

# 문자열 계산하기

> 아래와 같이 문자열이 주어졌을 때, 바보같은 사용자를 위해 계산을 해주려고 한다.
>
> 이 계산기는 더하기와 빼기밖에 못한다.
>
> `calc(equation)`을 만들어봅시다.


```python
# 예시
calc('123+2-124')
#=> 1

calc('-12+12-7979+9191')
#=> 1212

calc('+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1')
#=> 0
```

In [ ]:
# 여기에 코드를 작성하세요.

In [ ]:
print(calc('123+2-124'))
print(calc('-12+12-7979+9191'))
print(calc('+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1'))